In [3]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import statsmodels.api as sm

In [4]:
sv=pd.read_csv('D:\\ANALYTICS\\GREAT LEARNING\\7.Statistical Method for Decisoin Making-Week-4\\Survey-1.csv')

# Problem 2

The Student News Service at Clear Mountain State University (CMSU) has decided to gather data about the undergraduate students

that attend CMSU. CMSU creates and distributes a survey of 14 questions and receives responses from 62 undergraduates (stored in

 the Survey.csv file).

In [5]:
sv.head()

,ID,Gender,Age,Class,Major,Grad Intention,GPA,Employment,Salary,Social Networking,Satisfaction,Spending,Computer,Text Messages
0,1,Female,20,Junior,Other,Yes,2.9,Full-Time,50.0,1,3,350,Laptop,200
1,2,Male,23,Senior,Management,Yes,3.6,Part-Time,25.0,1,4,360,Laptop,50
2,3,Male,21,Junior,Other,Yes,2.5,Part-Time,45.0,2,4,600,Laptop,200
3,4,Male,21,Junior,CIS,Yes,2.5,Full-Time,40.0,4,6,600,Laptop,250
4,5,Male,23,Senior,Other,Undecided,2.8,Unemployed,40.0,2,4,500,Laptop,100

In [32]:
sv.describe(include='all')

,ID,Gender,Age,Class,Major,Grad Intention,GPA,Employment,Salary,Social Networking,Satisfaction,Spending,Computer,Text Messages
count,62.000000,62,62.000000,62,62,62,62.000000,62,62.000000,62.000000,62.000000,62.000000,62,62.000000
unique,NaN,2,NaN,3,8,3,NaN,3,NaN,NaN,NaN,NaN,3,NaN
top,NaN,Female,NaN,Senior,Retailing/Marketing,Yes,NaN,Part-Time,NaN,NaN,NaN,NaN,Laptop,NaN
freq,NaN,33,NaN,31,14,28,NaN,43,NaN,NaN,NaN,NaN,55,NaN
mean,31.500000,NaN,21.129032,NaN,NaN,NaN,3.129032,NaN,48.548387,1.516129,3.741935,482.016129,NaN,246.209677
std,18.041619,NaN,1.431311,NaN,NaN,NaN,0.377388,NaN,12.080912,0.844305,1.213793,221.953805,NaN,214.465950
min,1.000000,NaN,18.000000,NaN,NaN,NaN,2.300000,NaN,25.000000,0.000000,1.000000,100.000000,NaN,0.000000
25%,16.250000,NaN,20.000000,NaN,NaN,NaN,2.900000,NaN,40.000000,1.000000,3.000000,312.500000,NaN,100.000000
50%,31.500000,NaN,21.000000,NaN,NaN,NaN,3.150000,NaN,50.000000,1.000000,4.000000,500.000000,NaN,200.000000
75%,46.750000,NaN,22.000000,NaN,NaN,NaN,3.400000,NaN,55.000000,2.000000,4.000000,600.000000,NaN,300.000000
max,62.000000,NaN,26.000000,NaN,NaN,NaN,3.900000,NaN,80.000000,4.000000,6.000000,1400.000000,NaN,900.000000

Descriptive statistics:

There are 6 categorical variables while rest are continuous

In [7]:
sv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 14 columns):
ID                   62 non-null int64
Gender               62 non-null object
Age                  62 non-null int64
Class                62 non-null object
Major                62 non-null object
Grad Intention       62 non-null object
GPA                  62 non-null float64
Employment           62 non-null object
Salary               62 non-null float64
Social Networking    62 non-null int64
Satisfaction         62 non-null int64
Spending             62 non-null int64
Computer             62 non-null object
Text Messages        62 non-null int64
dtypes: float64(2), int64(6), object(6)
memory usage: 6.9+ KB

We could see there are no null values

In [8]:
#•	2.1. For this data, construct the following contingency tables (Keep Gender as row variable)
#2.1.1. Gender and Major
#2.1.2. Gender and Grad Intention
#2.1.3. Gender and Employment
#2.1.4. Gender and Computer

pd.set_option('display.max_columns',15)
gmt=pd.crosstab(sv['Gender'],sv['Major'],margins=True,margins_name='Total')
gmgi=pd.crosstab(sv['Gender'],sv['Grad Intention'],margins=True,margins_name='Total')
gme=pd.crosstab(sv['Gender'],sv['Employment'],margins=True,margins_name='Total')
gmc=pd.crosstab(sv['Gender'],sv['Computer'],margins=True,margins_name='Total')
print('Contingency table Gender vs Major')
print(gmt)
print(' ')
print('Contingency table Gender vs Grad intention')
print(gmgi)
print(' ')
print('Contingency table Gender vs Employment')
print(gme)
print(' ')
print('Contingency table Gender vs Computer')
print(gmc)
print(' ')

Contingency table Gender vs Major
Major   Accounting  CIS  Economics/Finance  International Business  \
Gender
Female           3    3                  7                       4
Male             4    1                  4                       2
Total            7    4                 11                       6

Major   Management  Other  Retailing/Marketing  Undecided  Total
Gender
Female           4      3                    9          0     33
Male             6      4                    5          3     29
Total           10      7                   14          3     62

Contingency table Gender vs Grad intention
Grad Intention  No  Undecided  Yes  Total
Gender
Female           9         13   11     33
Male             3          9   17     29
Total           12         22   28     62

Contingency table Gender vs Employment
Employment  Full-Time  Part-Time  Unemployed  Total
Gender
Female              3         24           6     33
Male                7         19           3     29
Total              10         43           9     62

Contingency table Gender vs Computer
Computer  Desktop  Laptop  Tablet  Total
Gender
Female          2      29       2     33
Male            3      26       0     29
Total           5      55       2     62

In [24]:
#2.2.1. What is the probability that a randomly selected CMSU student will be male? 
#What is the probability that a randomly selected CMSU student will be female?
gmt

Major,Accounting,CIS,Economics/Finance,International Business,Management,Other,Retailing/Marketing,Undecided,Total
Gender,,,,,,,,,
Female,3,3,7,4,4,3,9,0,33
Male,4,1,4,2,6,4,5,3,29
Total,7,4,11,6,10,7,14,3,62

In [25]:
#From above table we can observe
t_no_of_m_f=62
t_no_of_m=29
t_no_of_f=33
P_m=29/62
P_f=33/62
print('Probability of being male :',P_m)
print('Probability of being female :',P_f)

Probability of being male : 0.46774193548387094
Probability of being female : 0.532258064516129

In [31]:
#2.2.2. Find the conditional probability of different majors among the male students in CMSU. 
#Find the conditional probability of different majors among the female students of CMSU.
#Accounting
print('Contingency table Gender vs Major :')
print(gmt)
print(' ')
print('Probability accounting given male: ',4/29)
print('Probability accounting given female: ',3/33)
print(' ')
#CIS
print('Probability CIS given male: ',1/29)
print('Probability CIS given female: ',3/33)
print(' ')
#Eco/Finance
print('Probability E/F given male: ',4/29)
print('Probability E/F given female: ',7/33)
print(' ')
#International business
print('Probability IB given male: ',2/29)
print('Probability IB given female: ',4/33)
print(' ')
#Management
print('Probability Mgmt given male: ',6/29)
print('Probability Mgmt given female: ',4/33)
print(' ')
#other
print('Probability Other given male: ',4/29)
print('Probability Other given female: ',3/33)
print(' ')
#Retailing and Markerting
print('Probability R/M given male: ',5/29)
print('Probability R/M given female: ',9/33)
print(' ')
#Undecided
print('Probability Und given male: ',3/29)
print('Probability Und given female: ',0/33)
print(' ')

Contingency table Gender vs Major :
Major   Accounting  CIS  Economics/Finance  International Business  \
Gender
Female           3    3                  7                       4
Male             4    1                  4                       2
Total            7    4                 11                       6

Major   Management  Other  Retailing/Marketing  Undecided  Total
Gender
Female           4      3                    9          0     33
Male             6      4                    5          3     29
Total           10      7                   14          3     62

Probability accounting given male:  0.13793103448275862
Probability accounting given female:  0.09090909090909091

Probability CIS given male:  0.034482758620689655
Probability CIS given female:  0.09090909090909091

Probability E/F given male:  0.13793103448275862
Probability E/F given female:  0.21212121212121213

Probability IB given male:  0.06896551724137931
Probability IB given female:  0.12121212121212122

Probability Mgmt given male:  0.20689655172413793
Probability Mgmt given female:  0.12121212121212122

Probability Other given male:  0.13793103448275862
Probability Other given female:  0.09090909090909091

Probability R/M given male:  0.1724137931034483
Probability R/M given female:  0.2727272727272727

Probability Und given male:  0.10344827586206896
Probability Und given female:  0.0

In [32]:
#2.2.3. Find the conditional probability of intent to graduate, given that the student is a male. 
#Find the conditional probability of intent to graduate, given that the student is a female.
#Cont table grad intention
gmgi

Grad Intention  No  Undecided  Yes  Total
Gender
Female           9         13   11     33
Male             3          9   17     29
Total           12         22   28     62

In [34]:
print('Probability intent to graduate given male: ', 17/29)
print('Probability intent to graduate given female: ',11/33)

Probability intent to graduate given male:  0.5862068965517241
Probability intent to graduate given female:  0.3333333333333333

In [35]:
#2.2.4. Find the conditional probability of employment status for the male students as well as for the female students.
#Cont table Gender vs employment
gme

Employment  Full-Time  Part-Time  Unemployed  Total
Gender
Female              3         24           6     33
Male                7         19           3     29
Total              10         43           9     62

In [36]:
print('Prob Full time given female: ',3/33)
print('Prob Full time given male: ',7/29)
print(' ')
print('Prob Part time given female: ',24/33)
print('Prob Part time given male: ',19/29)
print(' ')
print('Prob Unemployed  given female: ',6/33)
print('Prob Unemployed  given male: ',3/29)

Prob Full time given female:  0.09090909090909091
Prob Full time given male:  0.2413793103448276

Prob Part time given female:  0.7272727272727273
Prob Part time given male:  0.6551724137931034

Prob Unemployed  given female:  0.18181818181818182
Prob Unemployed  given male:  0.10344827586206896

In [37]:
#2.2.5. Find the conditional probability of laptop preference among the male students as well as among the female students.
#Cont table Gender vs Computer
gmc

Computer  Desktop  Laptop  Tablet  Total
Gender
Female          2      29       2     33
Male            3      26       0     29
Total           5      55       2     62

In [38]:
print('Prob laptop given female: ',29/33)
print('Prob laptop given male: ',26/29)

Prob laptop given female:  0.8787878787878788
Prob laptop given male:  0.896551724137931

In [2]:
#2.3. Based on the above probabilities, do you think that the column variable in each case is independent of Gender?
#Justify your comment in each case.

A:1)Independent events are situation in which one event does not affect the probability of occurence of another event.Here

we are able to see indepedent cases.For example

ex:Probability(Accounting given female)=3/33

Probability(Accounting given male)=4/29

Probability(Accounting given CMSU student)=7/62

We could see that when we consider students in general, prob of selecting accounting is 7/62

When we consider male the probability of taking Accounting is 4/29 does not influences the probability of

taking accounting when student is female 3/33.That is Prob of taking X Major given one gender does not affect the prob of

of occurence of taking X subject given another gender

2)Similarly for Gender vs Grad intention,when we consider one column variable for example intent to graduate given student is male

is 17/29 whereas for female is 11/33 , even if another female intent to Graduate it wont affect the occurence of intent to

graduate given male ie even if prob intent to graduate given female is 12/33 the prob of occurence intent to graduate given male

will be 17/29

3)Similarly for Gender Vs Employment status prob of female being part timed(24/33) is independent of male being Part timed(19/29)

4)Also prob of laptop being picked given male is independent of laptop being picked given female

In [9]:
#Part II
#•	2.4. Note that there are three numerical (continuous) variables in the data set, Salary, Spending and Text Messages. 
#For each of them comment whether they follow a normal distribution. 
#Write a note summarizing your conclusions. 
#[Recall that symmetric histogram does not necessarily mean that the underlying distribution is symmetric]

48.54838709677419

To check whether a particular continuous variable follows normal distribution or not we have to verify the empirical rule

i.e whether 68,95 or 99 percent of data lie within 1,2 or 3 standard deviation from mean respectively

In [26]:
#Calculate percentage of data within 1 standard deviation away from mean
#Salary:We could see from below Salary follows empirical rule we strongly assume it follows normal distribution
no_of_obs_sal=62
sal_mean=sv['Salary'].mean()
sal_std=sv['Salary'].std()
one_time_std_right=sal_mean+sal_std
one_time_std_left=sal_mean-sal_std
count_1std= ((sv['Salary'] < one_time_std_right) & (sv['Salary'] > one_time_std_left)).sum()
Per_1std= (count_1std/no_of_obs_sal) * 100

In [27]:
Per_1std

79.03225806451613

In [28]:
#Spending:We could see 80 percent of data lies within 1 standard deviation so it follows normal distribution
no_of_obs_sal=62
sal_mean=sv['Spending'].mean()
sal_std=sv['Spending'].std()
one_time_std_right=sal_mean+sal_std
one_time_std_left=sal_mean-sal_std
count_1std= ((sv['Spending'] < one_time_std_right) & (sv['Spending'] > one_time_std_left)).sum()
Per_1std= (count_1std/no_of_obs_sal) * 100

In [29]:
Per_1std

80.64516129032258

In [30]:
#Text Messages:We could see 79 percent of data lies within 1 standard deviation following the empirical rule 
#thus it follows normal Distribution
no_of_obs_sal=62
sal_mean=sv['Text Messages'].mean()
sal_std=sv['Text Messages'].std()
one_time_std_right=sal_mean+sal_std
one_time_std_left=sal_mean-sal_std
count_1std= ((sv['Text Messages'] < one_time_std_right) & (sv['Text Messages'] > one_time_std_left)).sum()
Per_1std= (count_1std/no_of_obs_sal) * 100

In [31]:
Per_1std

79.03225806451613